* {
    text-align: center;
}

btnMau {
    margin-right: 10px;
}

#btn {
    position: absolute;
    transition: .5s;
}

.box {
    background-color: white;
    position: relative;
    top: 250px;
    width: 50px;
}

body {
    background-image: url(60fade61662fce008a78f34661341410.png);
    background-repeat: no-repeat;
    background-size: cover;
}